<app-navbar></app-navbar>
<main class="container">
  <br>
  <h1>Liste des assignments</h1>
  <mat-divider></mat-divider>
  <br>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Non Rendu
        <mat-icon style="margin-left: 1em;">thumb_down</mat-icon>
      </ng-template>
      <div class="grid">
        <app-assignment-card *ngFor="let a of assignments" [assignment]="a"></app-assignment-card>
      </div>
      <mat-paginator [length]="totalDocs" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" (page)="getServerData($event)">
      </mat-paginator>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Rendu
        <mat-icon style="margin-left: 1em;">thumb_up</mat-icon>
      </ng-template>
      Aucune données à afficher
    </mat-tab>


    <!-- <mat-tab>
      <ng-template mat-tab-label>
        Infinite Scrolling
      </ng-template>
      <app-infinite-scrolling></app-infinite-scrolling>
    </mat-tab> -->

  </mat-tab-group>
</main>