<app-navbar></app-navbar>
<main class="container">
  <br>
  <div style="display: flex; justify-content: space-between;">
    <h1>Liste des assignments</h1>
    <mat-form-field style="width: 200px;">
      <mat-label>Recherche</mat-label>
      <input matInput type="text" [(ngModel)]="search" (keyup.enter)="submitSearch()">
      <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-button matSuffix mat-icon-button aria-label="search" (click)="submitSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <br>

  <mat-tab-group (selectedTabChange)="clickTab($event)">

    <mat-tab>
      <ng-template mat-tab-label>
        Tous
        <mat-icon style="margin-left: 1em;"></mat-icon>
      </ng-template>
      <div class="grid">
        <app-assignment-card *ngFor="let a of assignments" [assignment]="a"></app-assignment-card>
      </div>
      <mat-paginator [length]="totalDocs" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true" (page)="getServerData($event)">
      </mat-paginator>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Non Rendu & Rendu
      </ng-template>
      <app-drag-and-drop [search]="search" [events]="searchEventsSubject.asObservable()"></app-drag-and-drop>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Infinite Scrolling
      </ng-template>
      <app-infinite-scrolling [search]="search" [events]="searchEventsSubject.asObservable()"></app-infinite-scrolling>
    </mat-tab>

  </mat-tab-group>
</main>