<div class="container-fluid bg-primary h-100 align-items-center justify-content-center d-flex login-wrapper">
    <img src="assets/login-bg.jpg" alt="" class="bg-image">
    <mat-card class="shadow-lg" style="z-index: 1;">
        <div class="p-4 align-items-center justify-content-center d-flex">
            <img src="assets/logo.png" alt="" width="150em">
        </div>

        <div [ngSwitch]="mode">
            <div *ngSwitchCase="displayMode.Login">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-card-content class="justify-content-center d-flex flex-column">
                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Adresse email</mat-label>
                            <input matInput type="email" formControlName="email" />
                            <button mat-icon-button matSuffix>
                                <mat-icon>email</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                            </button>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions class="d-flex justify-content-center p-4">
                        <mat-spinner [diameter]="35" *ngIf="loading"></mat-spinner>
                        <button mat-raised-button color="primary" class="p-2" style="width: 325px;" type="submit"
                            *ngIf="!loading">SE CONNECTER</button>
                    </mat-card-actions>
                    <p class="text-danger text-center">{{errorMessage ? errorMessage : ''}}</p>
                    
                    <hr>
                    <div class="align-items-center justify-content-center d-flex">
                        <button mat-button color="accent" (click)="onSwitch(displayMode.Register)">S'inscrire</button>
                    </div>
                </form>
            </div>

            <div *ngSwitchCase="displayMode.Register">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <mat-card-content class="justify-content-center d-flex flex-column">

                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Nom d'utilisateur</mat-label>
                            <input matInput type="text" formControlName="name" />
                            <button mat-icon-button matSuffix>
                                <mat-icon>people</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Adresse email</mat-label>
                            <input matInput type="email" formControlName="email" />
                            <button mat-icon-button matSuffix>
                                <mat-icon>email</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill" color="accent">
                            <mat-label>Confirmer le mot de passe</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm" />
                        </mat-form-field>

                    </mat-card-content>

                    <mat-card-actions class="d-flex justify-content-center p-4">
                        <mat-spinner [diameter]="35" *ngIf="loading"></mat-spinner>
                        <button mat-raised-button color="primary" class="p-2" style="width: 325px;" type="submit"
                            *ngIf="!loading">S'INSCRIRE</button>
                    </mat-card-actions>
                    
                    <p class="text-danger text-center">{{errorMessage ? errorMessage : ''}}</p>

                    
                    <hr>
                    <div class="align-items-center justify-content-center d-flex">
                        <button mat-button color="accent" (click)="onSwitch(displayMode.Login)">Se connecter</button>
                    </div>

                </form>
            </div>
        </div>

    </mat-card>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>