<section class="et-hero-tabs">
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="/">
            <img src="assets/uca-logo.png" alt="" width="50em" style="margin-right: 1em;"> Assignement App
        </a>
        <div class="et-hero-tab"></div>
        <a class="et-hero-tab et-hero-tab-hoverable" href="/">Assignements</a>
        <a class="et-hero-tab et-hero-tab-hoverable" href="/add">Ajouter</a>
        <div class="et-hero-tab"></div>
        <div class="et-hero-tab et-hero-tab-hoverable" href="#" (click)="logout()" style="cursor: pointer;">Déconnexion</div>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>