<div cdkDropListGroup>
    <div class="dd-container">
        <p>*faites glisser vers la droite pour rendre l'assignment</p>

        <div cdkDropList [cdkDropListData]="assignments" class="dd-list">
            <app-assignment-card *ngFor="let a of assignments" [assignment]="a" class="dd-box" cdkDrag>
            </app-assignment-card>
        </div>
    </div>

    <div class="dd-container drop-panel">
        <div cdkDropList [cdkDropListData]="done" class="dd-list" (cdkDropListDropped)="drop($event)">
            <h2 *ngIf="!done.length" style="opacity: 0.6;">Déposer un assignment ici</h2>
            <app-assignment-card *ngFor="let a of done" [assignment]="a" class="dd-box"></app-assignment-card>
        </div>
    </div>
</div>