<app-navbar></app-navbar>
<div class="container" *ngIf="assignmentTransmis">

  <div class="card-detail">
    <div class="card-detail-item swiper-slide">

      <div class="card-detail-img">
        <img [src]="imageMatiere" alt="">
        <p style="font-size: 20px; text-align: center;"> <b>Matière : </b> {{ assignmentTransmis?.matiere?.name }}</p>
      </div>

      <div class="card-detail-content">
        <div class="card-detail-title">
          {{ assignmentTransmis.nom }}
          <button mat-mini-fab color="primary" aria-label="edit" class="transparent-button" (click)="onClickEdit()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" aria-label="delete" class="transparent-button" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <span class="card-detail-code">{{ assignmentTransmis.dateDeRendu | date }}</span>

        <h5 class="divider line razor" contenteditable>Note</h5>
        <div class="card-detail-text">
          <b>Elève : </b> {{ assignmentTransmis?.auteur?.name }}
        </div>

        <div class="card-detail-text" style="display: flex;" *ngIf="assignmentTransmis.note">
          <b>Note : </b>
          <p style="margin-left: 10px;">{{ assignmentTransmis.note }}/20</p>
          <mat-chip-list style="margin-left: 10px;">
            <mat-chip color="primary" selected>Rendu</mat-chip>
          </mat-chip-list>
        </div>

        <div class="card-detail-text" style="display: flex;" *ngIf="!assignmentTransmis.note">
          <mat-chip-list>
            <mat-chip color="warn" selected>Non Rendu</mat-chip>
          </mat-chip-list>
        </div>

        <div class="card-detail-text">
          <b>Remarques : </b>
          {{ assignmentTransmis.remarques }}
        </div>

        <br>
        <h5 class="divider line razor" contenteditable>Professeur</h5>

        <!-- profile -->
        <div class="teacher-profile">
          <div class="picture">
            <img class="img-fluid" [src]="imageProf">
          </div>
          <div>
            <h3 class="name">{{ assignmentTransmis?.matiere?.teacher?.name }}</h3>
          </div>
        </div>
        <!-- END profile -->

      </div>
    </div>
  </div>

</div>